<div class="col-lg-3 col-md-3 block-3-wrapper ">
    <div class="row block-3-header">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <i class="glyphicon glyphicon-file"></i>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="categoryName">
                <a href="#readbatchcat">
                    <%= translite=== 'cyrillic' ? categoryLabel : '' %>
                    <%= translite=== 'latin' ? categoryLabelLt : '' %>
                    <%= translite=== 'arab' ? categoryLabelAr : '' %>
                </a>
            </div>
        </div>
    </div>
    <div class="row block-3-news-items scrollbar-style">


        <% collection.each(function(model) { %>


        <div class="news-item">
                    <span class="item-block">

                            <div class="newsTitle">
                                <a href="<%='#readnews/'+model.id%>">
                                    <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
                                    <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
                                    <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
                                </a>
                            </div>
                    </span>
        </div>

        <% }) %>

    </div>
</div>
