<% collection.each(function(model) { %>


<div class="panel-body">
    <img src="images/thumb/<%= model.get( 'imgUrl' ) %>" width="300" height="130"/>
</div>
<div class="panel-footer">
    <table>
        <tr>
            <td><a href="<%= link %>/<%= collection.currentPage == 1 ? 1 : collection.currentPage - 1 %>"><i
                    class="glyphicon glyphicon-chevron-left"></i></a></td>
            <td class="text-center text-primary block-17-section-2">
                <a href="<%='#!readnews/' + model.id %>">
                    <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
                    <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
                    <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
                </a>
            </td>
            <td>
                <a href="<%= link %>/<%= collection.currentPage == collection.totalPages ? collection.totalPages : collection.currentPage + 1 %>"><i
                        class="glyphicon glyphicon-chevron-right"></i></a></td>
        </tr>
    </table>
</div>

<% }) %>




