<% var isActive = 0; collection.each(function(model) { %>




<% if( isActive===0){ %>


<div class="block-9-main-news">
    <img src="images/<%= model.get( 'imgUrl' ) %>" width="338" height="170">

    <div class="news-description">
        <a href="<%='#!readnews/'+model.id%>">
            <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
            <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
            <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
        </a>
    </div>
    <div class="news-body">
            <%= translite=== 'cyrillic' ? model.get( 'newsFeature' ) : '' %>
            <%= translite=== 'latin' ? model.get( 'newsFeatureLt' ) : '' %>
            <%= translite=== 'arab' ? model.get( 'newsFeatureAr' ) : '' %>

    </div>
</div>



<div class="anotrher-news-wrapper">
    <% } else {%>

    <div class="another-news-item">
        <a href="<%='#!readnews/'+model.id%>">
            <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
            <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
            <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
        </a>
    </div>

    <% }%>


    <% isActive++; }) %>
</div>




