<% collection.each(function(model) { %>



<div class="basire-block-item">
    <a class="basire-block-item-label" href="<%='#!readnews/'+model.id%>">
        <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
        <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
        <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>

    </a>

    <div class="basire-block-item-divider">
    </div>
    <div class="basire-block-item-body">
        <%= translite=== 'cyrillic' ? model.get( 'newsFeature' ) : '' %>
        <%= translite=== 'latin' ? model.get( 'newsFeatureLt' ) : '' %>
        <%= translite=== 'arab' ? model.get( 'newsFeatureAr' ) : '' %>
    </div>
</div>

<% }) %>

