<% collection.each(function(model) { %>


<%
var myId;
var urlStr = "";
var arr = model.get('links');

for(i=0; i<arr.length; i++){
if(arr[i].rel == 'self'){
urlStr = arr[i].href;
}
}
var idStr = urlStr.substring(urlStr.lastIndexOf('/')+1);
if (parseInt(idStr, 10) != NaN)
myId = idStr;

%>


<div class="basire-block-item">
    <a class="basire-block-item-label" href="<%='#readnews/'+myId%>">
        <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
        <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
        <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>

    </a>

    <div class="basire-block-item-divider">
    </div>
    <div class="basire-block-item-body">
        <%= translite=== 'cyrillic' ? model.get( 'newsFeature' ) : '' %>
        <%= translite=== 'latin' ? model.get( 'newsFeatureLt' ) : '' %>
        <%= translite=== 'arab' ? model.get( 'newsFeatureAr' ) : '' %>
    </div>
</div>

<% }) %>

