<% collection.each(function(model) { %>


<%
var myId;
var urlStr = "";
var arr = model.get('links');

for(i=0; i<arr.length; i++){
if(arr[i].rel == 'self'){
urlStr = arr[i].href;
}
}
var idStr = urlStr.substring(urlStr.lastIndexOf('/')+1);
if (parseInt(idStr, 10) != NaN)
myId = idStr;

%>

<div class="col-lg-4 col-md-4 col-sm-4 block-12-news-item">
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="images/thumb/<%= model.get( 'imgUrl' ) %>" width="261" height="143"/>
        </div>
        <div class="panel-footer dotted-panel-footer">
            <%= translite=== 'cyrillic' ? model.get( 'newsFeature' ) : '' %>
            <%= translite=== 'latin' ? model.get( 'newsFeatureLt' ) : '' %>
            <%= translite=== 'arab' ? model.get( 'newsFeatureAr' ) : '' %>
        </div>
    </div>
</div>

<% }) %>

