<%
var isActive = 0;
collection.each(function(model) { %>




<div class="<%= isActive===0?'active':'' %>  item item-multimedia">
    <img src="images/<%= model.get( 'imgUrl' ) %>" alt=""  width="239" height="170"/>
    <div class="carousel-caption carousel-caption-multimedia">
        <span>
                    <a href="<%='#!readnews/'+model.id%>">
                        <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
                        <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
                        <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
                    </a>
        </span>
    </div>
</div>

<% isActive++; }) %>

