<div class="row block-6-header">
    <div class="col-lg-12 col-md-12 text-right">
        <a href="#readcat/6">
            <%= translite=== 'cyrillic' ? categoryLabel : '' %>
            <%= translite=== 'latin' ? categoryLabelLt : '' %>
            <%= translite=== 'arab' ? categoryLabelAr : '' %>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <ul class="block-6-ul-news">

            <% collection.each(function(model) { %>

            <li>
                <a href="<%='#readnews/'+model.id%>">
                    <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
                    <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
                    <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
                </a>
            </li>

            <% }) %>

        </ul>
    </div>
</div>

