<div class="categoryName">
    <a href="#readcat/11">
        <%= translite=== 'cyrillic' ? categoryName : '' %>
        <%= translite=== 'latin' ? categoryNameLt : '' %>
    </a>
</div>


<% collection.each(function(model) { %>


<%
var myId;
var urlStr = "";
var arr = model.get('links');

for(i=0; i<arr.length; i++){
if(arr[i].rel == 'self'){
urlStr = arr[i].href;
}
}
var idStr = urlStr.substring(urlStr.lastIndexOf('/')+1);
if (parseInt(idStr, 10) != NaN)
myId = idStr;

%>
<div class="news">
    <div class="newsImage">
        <img src="images/thumb/<%= model.get( 'imgUrl' ) %>" width="100" height="100"/>
    </div>

    <div class="newsTitle">
        <a href="<%='#readnews/'+myId%>">
            <%= translite=== 'cyrillic' ? model.get( 'newsTitle' ) : '' %>
            <%= translite=== 'latin' ? model.get( 'newsTitleLt' ) : '' %>
            <%= translite=== 'arab' ? model.get( 'newsTitleAr' ) : '' %>
        </a>
    </div>

    <div class="newsFeature">
        <%= translite=== 'cyrillic' ? model.get( 'newsFeature' ) : '' %>
        <%= translite=== 'latin' ? model.get( 'newsFeatureLt' ) : '' %>
        <%= translite=== 'arab' ? model.get( 'newsFeatureAr' ) : '' %>
    </div>

</div>

<% }) %>

