<% collection.each(function(model) { %>


<%
var myId;
var urlStr = "";
var arr = model.get('links');

for(i=0; i<arr.length; i++){
if(arr[i].rel == 'self'){
urlStr = arr[i].href;
}
}
var idStr = urlStr.substring(urlStr.lastIndexOf('/')+1);
if (parseInt(idStr, 10) != NaN)
myId = idStr;

%>

<td class="padding-5">
    <table>
        <tr>
            <td><img src="images/thumb/<%=  model.get('pdfImageUrl') %>" class="block-23-book-img"/></td>
        </tr>
        <tr>
            <td class="block-23-additional-link">
                <a href="http://<%= window.location.host %>/libs/pdfjs/web/viewer.html?file=http://<%= window.location.host %>/pdf/<%=  model.get('pdfUrl') %>"
                   target="_blank">
                    <%= translite=== 'cyrillic' ? 'Оқу' : '' %>
                    <%= translite=== 'latin' ? 'Oku' : '' %>
                    <%= translite=== 'arab' ? 'Oku' : '' %></a>

                <%= translite=== 'cyrillic' ? 'немесе' : '' %>
                <%= translite=== 'latin' ? 'nemese' : '' %>
                <%= translite=== 'arab' ? 'nemese' : '' %>

                <br/> <a href="http://<%= window.location.host %>/pdf/<%=  model.get('pdfUrl') %>">
                <%= translite=== 'cyrillic' ? 'Жүктеп алу' : '' %>
                <%= translite=== 'latin' ? 'Zhuktep alu' : '' %>
                <%= translite=== 'arab' ? 'Zhuktep alu' : '' %>
                </a>
            </td>
        </tr>
    </table>
</td>


<% }) %>

