<div class="row">

    <form class="form-horizontal span12">


        <fieldset>

            <legend>Жаңалық</legend>
            <br/>

            <div class="row">
                <div class="span9">



                    <div class="control-group">
                        <label class="control-label"><%= news.get('newsTitle') %></label>
                        <img style="float:left" src="images/<%= news.get( 'imgUrl' ) %>" width="400" height="400">

                        <label class="control-label"><%= news.get('newsFeature') %></label>

                        <label  class="control-label"><%= news.get('newsDetail') %></label>

                    </div>


                </div>

            </div>

        </fieldset>



</div>



