<div class="row">

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Item Details</legend>
            <br/>
            <div class="row">
                <div class="span9">

                    <div class="control-group">
                        <label for="login" class="control-label">login:</label>

                        <div class="controls">
                            <input type="text" id="login" name="login" value="<%= model.get('login') %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="password" class="control-label">password:</label>

                        <div class="controls">
                            <input type="text" id="password" name="password" value="<%= model.get('password') %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="fullname" class="control-label">fullname:</label>

                        <div class="controls">
                            <input type="text" id="fullname" name="fullname" value="<%= model.get('fullname') %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>



                    <div class="control-group">
                        <label for="roleForUser" class="control-label">roleForUser:</label>

                        <div class="controls">
                            <input type="checkbox" id="roleForUser" class="checkbox" <%= model.get('roles').indexOf("roleForUser") > -1 ?  'checked=true' : '' %> >
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="roleForCategory" class="control-label">roleForCategory:</label>

                        <div class="controls">
                            <input type="checkbox" id="roleForCategory" class="checkbox" <%= model.get('roles').indexOf("roleForCategory") > -1 ?  'checked=true' : '' %> >
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="roleForNews" class="control-label">roleForNews:</label>

                        <div class="controls">
                            <input type="checkbox" id="roleForNews" class="checkbox" <%= model.get('roles').indexOf("roleForNews") > -1 ?  'checked=true' : '' %> >
                            <span class="help-inline"></span>
                        </div>
                    </div>


                </div>

            </div>
        </fieldset>

        <div class="form-actions-user">
            <a href="#" class="btn btn-primary save">Save</a>
            <%  if(editBtn) { %>
            <a href="#" class="btn delete">Delete</a>
            <%  } %>
            <a href="#" class="btn btn-primary cancel">Cancel</a>
        </div>

    </form>

</div>

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Item saved successfully
        </div>
    </div>
</div>


